<!-- header -->
<header id="header" class="app-header navbar" role="menu">
  <!-- navbar header -->
  <div class="navbar-header bg-info">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
      <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll="app">
      <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a href="#/" class="navbar-brand text15">
      SI Tesaputra Adiguna
    </a>
    <!-- / brand -->
  </div>
  <!-- / navbar header -->

  <!-- navbar collapse -->
  <div class="collapse pos-rlt navbar-collapse bg-info">


    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
          <i class="icon-bdg_alert text14"></i>
          <span class="visible-xs-inline">Notifikasi</span>
          <span class="badge badge-sm up bg-danger pull-right-xs">2</span>
        </a>
        <!-- dropdown -->
        <div class="dropdown-menu w-xl animated fadeIn">
          <div class="panel bg-white">
            <div class="panel-heading b-light bg-light">
              <strong>Kamu Punya <span>2</span> Notifikasi</strong>
            </div>
            <div class="list-group">
              <a href class="list-group-item">
                <span class="pull-left m-r thumb-sm">
                  <img src="img/01.jpg" alt="..." class="img-circle">
                </span>
                <span class="clear block m-b-none">
                  Pembangunan Taman daerah Bandung Barat<br>
                  <small class="text-muted">10 minutes ago</small>
                </span>
              </a>
              <a href class="list-group-item">
                <span class="clear block m-b-none">
                  Revitalisasi Sungai Cikapundung<br>
                  <small class="text-muted">1 hour ago</small>
                </span>
              </a>
            </div>
            <div class="panel-footer text-sm">
              <a href class="pull-right"><i class="icon-bdg_setting3"></i></a>
              <a href="#notes" data-toggle="class:show animated fadeInRight">Lihat Semua Notifikasi</a>
            </div>
          </div>
        </div>
        <!-- / dropdown -->
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
          <i class="icon-bdg_search text14"></i>
        </a>
        <!-- dropdown -->
         <div class="search_wrapper pull-right w-xl animated fadeIn">
          <form action="">
            <i class="pull-left glyphicon glyphicon-search"></i>
              <input type="text" class="pull-left" placeholder="Type Here">
            <a href="#" class="remove-search"><i class="pull-right icon-bdg_cross"></i></a>
          </form>
        </div>
        <!-- / dropdown -->
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="bg-blue profile-header dropdown-toggle clear" data-toggle="dropdown">
          <!-- <i class="icon-bdg_people"></i> -->
          <span class="hidden-sm hidden-md m-r-xl"> Siswanda Harso Sumarto</span> <i class="fa fa-caret-down pull-right"></i>
        </a>
        <!-- dropdown -->
        <ul class="dropdown-menu animated fadeIn w-ml">
          <li>
            <a href>
              <span>Settings</span>
            </a>
          </li>
          <li>
            <a href>Profile</a>
          </li>
          <li class="divider"></li>
          <li>
            <a>Logout</a>
          </li>
        </ul>
        <!-- / dropdown -->
      </li>
    </ul>
    <!-- / navbar right -->
</div>
</header>

<aside id="aside" class="app-aside hidden-xs bg-dark">
<nav ui-nav class="navi clearfix">
        <ul class="nav">
          <li class="hidden-folded m-t text-white text-xs padder-md padder-v-sm">
            <span>Nama Tender Proyek yg Dipilih Syalala</span>
          </li>
          <li>
            <a href="#info-tender">
              <i class="fa fa-info-circle"></i>
              <span>Info</span>
            </a>
          </li>
          <li>
            <a href="#progres-tender">
              <i class="fa fa-check-square-o"></i>
              <span>Progres</span>
            </a>
          </li>
          <li>
            <a href="#ganti-tender">
              <i class="fa fa-exchange"></i>
              <span>Ganti Tender Lain</span>
            </a>
          </li>

          <li class="line1 dg"></li>

          <li class="hidden-folded text-white text-xs padder-md padder-v-sm">
            <span>Daftar</span>
          </li>

          <li>
            <a href="#tender">
              <i class="fa fa-gavel"></i>
              <span>Tender Proyek</span>
            </a>
          </li>
          <li>
            <a href="#perusahaan-mitra">
              <i class="fa fa-building"></i>
              <span>Perusahaan Mitra</span>
            </a>
          </li>
          <li>
            <a href="#tenaga-ahli">
              <i class="fa fa-users"></i>
              <span>Tenaga Ahli</span>
            </a>
          </li>
          <li>
            <a href="#dokumen">
              <i class="fa fa-folder-open"></i>
              <span>Dokumen</span>
            </a>
          </li>


        </ul>
      </nav>
      <!-- nav -->
    </aside>
