<div class="bg-light lter b-b wrapper-md padder-md">
  <h1 class="m-n font-bold h3 text-grey padder" style="display:inline-block">Arsip Dokumen</h1>
</div>
<div id="elfinder"></div>

<script type="text/javascript" charset="utf-8">
			// Documentation for client options:
			// https://github.com/Studio-42/elFinder/wiki/Client-configuration-options
			$(document).ready(function() {
				$('#elfinder').elfinder({
					url : 'public/php/connector.minimal.php'  // connector URL (REQUIRED)
					// , lang: 'ru'                    // language (OPTIONAL)
				});
			});
		</script>