<!-- header -->
<header id="header" class="app-header navbar" role="menu">
  <!-- navbar header -->
  <div class="navbar-header bg-info">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
      <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll="app">
      <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a href="#" class="navbar-brand">
      TenderPro
    </a>
    <!-- / brand -->
  </div>
  <!-- / navbar header -->

  <!-- navbar collapse -->
  <div class="collapse pos-rlt navbar-collapse bg-info">


    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle">
          <i class="icon-bdg_alert text14"></i>
          <span class="visible-xs-inline">Notifikasi</span>
          <span class="badge badge-sm up bg-danger pull-right-xs">{{user.reminder.length}}</span>
        </a>
        <!-- dropdown -->
        <div class="dropdown-menu w-xl animated fadeIn">
          <div class="panel bg-white">
            <div class="panel-heading b-light bg-light">
              <strong>Kamu Punya <span>{{user.reminder.length}}</span> Notifikasi</strong>
            </div>
            <div class="list-group text12" ng-repeat="reminder in user.reminder">
              <a class="list-group-item" ng-click="selectTender(reminder.id_tender)" href="#info-tender">
                <span class="clear block m-b-none">
                  Tenggat waktu {{reminder.tahap_tender}} tender "{{reminder.nama_tender}}" <span style="color:red">{{reminder.hari}} hari lagi</span>!<br>
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- / dropdown -->
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
          <i class="icon-bdg_search text14"></i>
        </a>
        <!-- dropdown -->
         <div class="search_wrapper pull-right w-xl animated fadeIn">
          <form action="">
            <i class="pull-left glyphicon glyphicon-search"></i>
              <input type="text" class="pull-left" placeholder="Type Here">
            <a href="#" class="remove-search"><i class="pull-right icon-bdg_cross"></i></a>
          </form>
        </div>
        <!-- / dropdown -->
      </li>
      <li class="dropdown">
        <a data-toggle="dropdown" class="bg-blue profile-header dropdown-toggle clear" data-toggle="dropdown">
          <!-- <i class="icon-bdg_people"></i> -->
          <span class="hidden-sm hidden-md m-r-xl"> {{user.nama_lengkap}}</span> <i class="fa fa-caret-down pull-right"></i>
        </a>
        <!-- dropdown -->
        <ul class="dropdown-menu animated fadeIn w-ml">
          <li>
            <a href>
              <span>Settings</span>
            </a>
          </li>
          <li>
            <a href>Profile</a>
          </li>
          <li class="divider"></li>
          <li>
            <a>Logout</a>
          </li>
        </ul>
        <!-- / dropdown -->
      </li>
    </ul>
    <!-- / navbar right -->
</div>
</header>

<aside id="aside" class="app-aside hidden-xs bg-dark">
<nav ui-nav class="navi clearfix">
        <ul class="nav" bs-active-link>
          <li class="hidden-folded m-t text-white text-xs padder-md padder-v-sm">
            <span>{{selectedTender.nama_tender}}</span>
          </li>


            <div ng-if="selectedTender!=null" bs-active-link>
          <li>
            <a href="#info-tender">
              <i class="fa fa-info-circle"></i>
              <span>Info Tender</span>
            </a>
          </li>
          <li>
            <a href="#progres-tender">
              <i class="fa fa-check-square-o"></i>
              <span>Progres Tender</span>
            </a>
          </li>
        </div>

          <li>
            <a data-target="#pilih-tender" data-toggle="modal">
              <i class="fa fa-exchange"></i>
              <span><span ng-if="selectedTender!=null">Ganti Tender Lain</span><span ng-if="selectedTender==null">Pilih Tender</span></span>
            </a>
          </li>

          <li class="line1 dg"></li>

          <li class="hidden-folded text-white text-xs padder-md padder-v-sm">
            <span>Daftar</span>
          </li>

          <li>
            <a href="#tender">
              <i class="fa fa-gavel"></i>
              <span>Tender Proyek</span>
            </a>
          </li>
          <li>
            <a href="#perusahaan-mitra">
              <i class="fa fa-building"></i>
              <span>Perusahaan Mitra</span>
            </a>
          </li>
          <li>
            <a href="#tenaga-ahli">
              <i class="fa fa-users"></i>
              <span>Tenaga Ahli</span>
            </a>
          </li>
          <li>
            <a href="#dokumen">
              <i class="fa fa-folder-open"></i>
              <span>Dokumen</span>
            </a>
          </li>


        </ul>
      </nav>
      <!-- nav -->
    </aside>

    <div class="modal fade" id="pilih-tender" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Pilih Tender</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                      <tbody>
                        <tr ng-repeat="tender in tenders | orderBy: 'nama_tender'">
                          <td>{{tender.nama_tender}}</td>
                          <td><button class="btn btn-primary" ng-click="selectTender(tender.id_tender)">Pilih</button></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
