          <div class="bg-light lter b-b wrapper-md padder-md">
            <h1 class="m-n font-bold h3 text-grey padder" style="display:inline-block">Daftar Tenaga Ahli</h1>
          </div>
                  <div class="wrapper-lg bg-light">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="table-responsive">
                            <div class="col-sm-4">
                              <div class="input-group">
                                <input type="text" class="input-sm form-control" placeholder="Cari..." ng-model="query">
                                <span class="input-group-btn">
                                  <button class="btn btn-sm btn-default" type="button"><i class="fa fa-search"></i></button>
                                </span>
                              </div>
                            </div>
                            <div class="pull-right">
                              <button id="btn-add" class="btn m-b-sm m-r-sm pull-right btn-success" ng-click="toggle('add', 0)" style="display:inline-block"><i class="m-r-xs fa fa-plus"></i> Tambah Tenaga Ahli Baru</button>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Detail</th>
                                        <th>Nama</th>
                                        <th>L/P</th>
                                        <th>No. Telepon</th>
                                        <th>Bidang Keahlian</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat-start="ta in tas | orderBy: 'nama_tenaga_ahli' | filter:query">
                                        <td>
                                          <a ng-if="ta.expanded" ng-click="ta.expanded = false" class="text15"  data-toggle="tooltip" title="Tutup Detail" data-placement="bottom"><i class="fa fa-chevron-circle-down"></i></a>
                                          <a ng-if="!ta.expanded" ng-click="ta.expanded = true" class="text15"  data-toggle="tooltip" title="Lihat Detail" data-placement="bottom"><i class="fa fa-chevron-circle-right"></i></a>
                                        </td>
                                        <td>{{ta.nama_tenaga_ahli}}</td>
                                        <td>{{ta.jenis_kelamin}}</td>
                                        <td>{{ta.telp}}</td>
                                        <td><span ng-repeat="bidang in ta.bidang_keahlian">{{bidang}}<span ng-show="!$last">, </span></span></td>
                                        <td>
                                            <a class="text15" ng-click="searchDocument(ta.id_ktp)" data-toggle="tooltip" title="Lihat Dokumen" data-placement="bottom"><i class="fa fa-folder-open"></i></a> |
                                            <a class="text15" ng-click="toggle('edit', ta.id_ktp)" data-toggle="tooltip" title="Sunting" data-placement="bottom"><i class="fa fa-edit"></i></a> |
                                            <a class="text15" ng-click="confirmDelete(ta.id_ktp)" data-toggle="tooltip" title="Hapus" data-placement="bottom"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end ng-if="ta.expanded">
                                      <td></td>
                                      <td colspan="5">
                                          <span class="font-bold">ID KTP: </span> {{ta.id_ktp}}<br/>
                                          <span class="font-bold">Tempat Tanggal Lahir: </span> {{ta.tempat_lahir}}, {{ta.tanggal_lahir}}<br/>
                                          <span class="font-bold">Alamat: </span> {{ta.alamat}}<br/>
                                          <span class="font-bold">Email: </span> {{ta.email}}<br/>
                                          <span class="font-bold">Tanggal KTP Habis Berlaku: </span> {{ta.tanggal_habis_ktp}}<br/>
                                          <span class="font-bold">Tanggal Data Terakhir Diperbarui: </span> {{ta.updated_at}}<br/>
                                      </td>
                                    </tr>
                                </tbody>
                            </table>
                        <!-- End of Table-to-load-the-data Part -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /content -->


<!-- Modal (Pop up when add/edit button clicked) -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{form_title}}</h4>
                </div>
                <div class="modal-body">
                    <form name="dataForm" class="form-horizontal" novalidate="">
                        <!-- <input id="_token" name="_token" type="hidden" value="" ng-model="cpns._token"> -->
                        <div class="form-group error">
                            <label for="id_ktp" class="col-sm-3 control-label">ID KTP (NIK)*</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control has-error" id="id_ktp" name="id_ktp" ng-model="ta.id_ktp" ng-required="true">
                                <span class="help-inline"
                                ng-show="dataForm.id_ktp.$invalid && dataForm.id_ktp.$touched">Field harus diisi</span>
                            </div>
                        </div>

                        <div class="form-group error">
                            <label for="nama_tenaga_ahli" class="col-sm-3 control-label">Nama*</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control has-error" id="nama_tenaga_ahli" name="nama_tenaga_ahli" ng-model="ta.nama_tenaga_ahli" ng-required="true">
                                <span class="help-inline"
                                ng-show="dataForm.nama_tenaga_ahli.$invalid && dataForm.nama_tenaga_ahli.$touched">Field harus diisi</span>
                            </div>
                        </div>

                        <div class="form-group error">
                            <label for="jenis_kelamin" class="col-sm-3 control-label">Jenis Kelamin*</label>
                            <div class="col-sm-9">
                                <input type="radio" ng-model="ta.jenis_kelamin" value="L" name="jenis_kelamin"> Laki-Laki
                                <input type="radio" ng-model="ta.jenis_kelamin" value="P" name="jenis_kelamin"> Perempuan
                            </div>
                        </div>

                        <div class="form-group error">
                            <label for="tempat_lahir" class="col-sm-3 control-label">Tempat Lahir*</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control has-error" id="tempat_lahir" name="tempat_lahir" ng-model="ta.tempat_lahir">
                                <span class="help-inline"
                                ng-show="dataForm.tempat_lahir.$invalid && dataForm.tempat_lahir.$touched">Field harus diisi</span>
                            </div>
                        </div>

                        <div class="form-group error">
                            <label for="tanggal_lahir" class="col-sm-3 control-label">Tanggal Lahir*</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control has-error" id="tanggal_lahir" name="tanggal_lahir" ng-model="ta.tanggal_lahir" placeholder="DD/MM/YYYY (Contoh: 25/11/1994)">
                                <span class="help-inline"
                                ng-show="dataForm.tanggal_lahir.$invalid && dataForm.tanggal_lahir.$touched">Field harus diisi</span>
                            </div>
                        </div>


                        <div class="form-group error">
                            <label for="telp" class="col-sm-3 control-label">Alamat*</label>
                            <div class="col-sm-9">
                                <textarea required class="form-control" id="alamat" name="alamat" ng-model="ta.alamat" ng-required="true"></textarea>
                                <span class="help-inline"
                                ng-show="dataForm.alamat.$invalid && dataForm.alamat.$touched">Field harus diisi</span>
                            </div>
                        </div>


                        <div class="form-group error">
                            <label for="telp" class="col-sm-3 control-label">No. Telepon*</label>
                            <div class="col-sm-9">
                                <input required type="text" class="form-control has-error" id="telp" name="telp" ng-model="ta.telp" ng-required="true">
                                <span class="help-inline"
                                ng-show="dataForm.telp.$invalid && dataForm.telp.$touched">Field harus diisi</span>
                            </div>
                        </div>

                        <div class="form-group error">
                            <label for="email" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control has-error" id="email" name="email" ng-model="ta.email">
                                <!-- <span class="help-inline"
                                ng-show="dataForm.telp.$invalid && dataForm.telp.$touched">Field harus diisi</span> -->
                            </div>
                        </div>

                        <div class="form-group error">
                            <label for="tanggal_habis_ktp" class="col-sm-3 control-label">Tanggal KTP Habis Berlaku*</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control has-error" id="tanggal_habis_ktp" name="tanggal_habis_ktp" ng-model="ta.tanggal_habis_ktp" placeholder="DD/MM/YYYY (Contoh: 25/11/1994)">
                                <span class="help-inline"
                                ng-show="dataForm.tanggal_habis_ktp.$invalid && dataForm.tanggal_habis_ktp.$touched">Field harus diisi</span>
                            </div>
                        </div>

                        <div class="form-group error">
                            <label for="bidang_keahlian" class="col-sm-3 control-label">Bidang Keahlian</label>
                            <div class="col-sm-9">
                                <ui-select class="form-control" id="bidang_keahlian" name="bidang_keahlian" multiple ng-model="ta.bidang_keahlian" style="width: 100%">
                                    <ui-select-match>{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="bidang in bidangs | filter:$select.search">
                                      <div ng-bind-html="bidang | highlight: $select.search"></div>
                                    </ui-select-choices>
                                  </ui-select>
                                <!-- <span class="help-inline"
                                ng-show="dataForm.bidang.$invalid && dataForm.bidang.$touched">Field harus diisi</span> -->
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" style="margin-bottom: 0"><span class="glyphicon glyphicon-remove"></span> Batal</button>
                    <button type="button" class="btn btn-primary btn-success" id="btn-save" ng-click="save()" ng-disabled="dataForm.$invalid"><span class="glyphicon glyphicon-ok"></span> Simpan</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <% successMessage %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-ok" ng-click="ok()">OK</button>
